{% extends "base.html" %}

{% block content %}

<div>
<form action="{% url 'home' %}" method="POST">
    <h3>Make a New Habit</h3>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"> Create Habit</button>
</div>


<div>
    {% for habit in habits %}
    <p>Habit: {{ habit.name }}</p> 
    <p>Goal: {{ habit.goal }}</p>
    <a href="{% url 'habit_records' pk=habit.pk %}">Habit Details</a>
    <a href="{% url 'delete_habit' pk=habit.pk %}">Delete Habit</a>
    {% endfor %}
</div>


{% endblock %}

